<div ng-app="TSTodoApp">

    <div>
        <h2>Todo</h2>

        <div ng-controller="TodoController">
            
            <div class="row">
                <form name="newTodo" ng-submit="newTodo.$valid && add()" novalidate>
                    <div class="col-lg-3">
                        <span class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tasks"></i></span>
                            <input class="form-control" type="text" name="todoText" ng-model="newTodoText" placeholder="What do you need to do?" required>
                        </span>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-primary btn-sm" href="#" ng-click="newTodo.$valid && add()" ng-disabled="newTodo.$invalid">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>
                </form>
            </div>

            <div class="row" style="margin-top: 1em;">
                <div class="col-lg-1">
                    <i class="fa fa-check-square-o"></i> Todos: {{todos.length}}
                </div>
                <div class="col-lg-2">
                    <i class="fa fa-square-o"></i> Remaining: {{remaining()}}
                </div>
            </div>

            <div class="row" style="margin-top: 1em;">
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="todo in todos">
                            <label>
                                <input type="checkbox" ng-model="todo.done" title="{{todo.text}}" />
                                <span class="done-{{todo.done}}">{{todo.text}}</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" style="margin-top: 1em;">
                <div class="col-md-1">
                    <a class="btn btn-danger" href="#" ng-click="archive()" ng-disabled="remaining() === todos.length">
                        <i class="fa fa-trash-o fa-lg"></i> Remove finished tasks
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
