body {
  padding: 50px;
}
input[type=submit] {
  width: 6em;
  background-color: #cccccc;
  color: #000000;
}
input[type=submit][disabled=disabled] {
  background-color: #777777;
  color: #000000;
}
/*.danger {
    color: @dangerColor;
    font-weight:bolder;
}*/
.unstyled {
  list-style: none;
}
.done-true {
  text-decoration: line-through;
}
/*a, a:hover:not(.danger), a:visited {
    text-decoration: none;
    color: inherit;
}*/
/*a.danger:hover {
    text-decoration: none;
    .danger;
}*/
.navbar {
  background-color: #cccccc;
  color: #000000;
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
  padding: 8px;
}
.content {
  font-size: 1.2em;
  padding: 0 8px 0 8px;
}
